<!DOCTYPE html>
<html>
<%- include("./header.ejs") %>
<body>
<%- include("./headerBar.ejs") %>
<section class="billList-Wrapper">

    <h3 style="border-bottom:1px solid #ccc;padding-bottom:10px;">
        个人明细
    </h3>
    <div class="layui-field-box">
        <table class="layui-table" lay-skin="line">
            <colgroup>
                <col>
                <col>
                <col>
                <col>
            </colgroup>
            <thead>
            <tr>
                <th></th>
                <th>支出</th>
                <th>人均</th>
                <th>结算</th>
            </tr>
            </thead>
            <tbody>
            <% for(let i = 0; i < perList.length; i++) { %>
            <tr>
                <td><%= perList[i].username %></td>
                <td><%= perList[i].perpay %></td>
                <td><%= perList[i].per %></td>
                <td><%= perList[i].perpay - perList[i].per %></td>
            </tr>
            <% } %>
            </tbody>
        </table>
    </div>
</section>
</body>
<%- include("./footer.ejs") %>
<script>
    let index = new Index();
</script>
</html>
